<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sareAamConnectionString" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=sareAam;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
  <pages validateRequest="false"></pages>
  </system.web>

</configuration>