<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="sareAamConnectionString" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=sareAam;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sareAamConnectionString2" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=sareAam;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
  
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" executionTimeout="3600" maxRequestLength="1048576"/>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering >
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
        
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>